.form-microsoft-container {
  @apply relative mx-auto overflow-hidden bg-white p-11 shadow-md;
  max-width: 440px;
  width: calc(100% - 40px);
  min-width: 320px;
  min-height: 338px;
  max-height: 370px;
}

/* Options */

.options-container {
  @apply mx-auto bg-white px-11 py-2 shadow-md;
  @apply focus:bg-[#cccccc] focus:outline-dashed;
  @apply active:bg-[#0000004d] active:bg-[#b3b3b3];
  margin-top: 20px;
  max-width: 440px;
  width: calc(100% - 40px);
}

.options-text {
  @apply -mx-11 mb-0 flex cursor-pointer items-center px-11 outline-none;
  color: #1b1b1b;
}

/* EmailForm && PassForm */

.form-title {
  @apply mt-4 p-0 text-2xl font-semibold text-[#1b1b1b];
  font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto";
}

.form-btnContainer {
  @apply relative right-0 mt-4 text-end;
}

.form-btnPrimary {
  @apply mt-4 h-8 w-auto cursor-pointer border-none;
  @apply bg-[#0067b8] px-3 py-1 text-base font-normal text-white;
  min-width: 108px;
}

.form-linkPrimary {
  @apply text-[#0067b8] no-underline;
  /* HOVER */
  @apply hover:text-[#666666] hover:underline hover:outline-none;
  /* ACTIVE */
  @apply active:text-[#999999] active:underline active:outline-none;
  /* LINK & VISITED */
  @apply visited:text-[#0067b8] active:no-underline;
}

.form-inputPrimary {
  @apply h-9 w-full bg-transparent px-2.5 py-1.5 font-normal outline-none;
  @apply border border-solid border-[#00000099] text-[#1b1b1b];
  @apply border-l-0 border-r-0 border-t-0 pl-0;
  @apply focus:border-[#0067b8];
  @apply hover:border-[#000000cc];
  font-size: 15px;
  line-height: 20px;
}

.form-error {
  @apply border-[#e81123];
  @apply focus:border-[#e81123];
  @apply hover:border-[#e81123];
}

.form-identity {
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande";
  color: #1b1b1b;
}

.form-identity {
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
  margin-top: 16px;
  margin-bottom: -4px;
  color: #1b1b1b;
  font-family: "Segoe UI Webfont";
  font-weight: 400;
  font-size: 0.9375rem;
}

.form-identity img {
  vertical-align: middle;
}

.form-btnBack {
  min-height: 24px;
  width: 24px;
  min-width: 24px;
  float: left;
  padding: 0;
  border-width: 0;
  border-radius: 12px;
  margin-right: 2px;
  cursor: pointer;
}

.form-btnBack:hover {
  background-color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-btnBack:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.form-btnBack:focus {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  border-color: rgba(0, 0, 0, 0.4);
}

.phishing-container {
  position: relative;
  @apply mx-auto bg-[#f2f2f2] px-11 shadow-md;
  padding: 24px 44px 36px 44px;
  max-width: 440px;
  width: calc(100% - 40px);
  z-index: 10;
  cursor: default;
}

.bg {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-error-text {
  color: #e81123;
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
